*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(30, 26, 32);
}


header{

padding: 30px;

}

header nav{
    margin: 0 10%;
}


header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

header nav ul li a:hover{
    color: #f64c72;
    transition: 0.5s;
}

.open-menu,.close-menu{
    position: absolute;
    cursor: pointer;
    display: none;
}

#check{
    
}

.open-menu{
    top: 20px;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top: 20px;
    right: 20px;
    transform: translateY(-50%);
}


.open-sidebar-button,.close-sidebar-button{
    display: none;
}

.icons-a{
    display: none;
}

.head-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 300px;
    gap: 80px;
}

.header-section{
  margin-bottom: 230px;
}

.head-text h1{
    font-size: 50px;
    color: white;
}

.head-text h1 b{
    border-top: 5px solid #f64c72;
    
}

.head-text img{
    width: 350px;
    height: 350px;
}

.head-text p{
    font-size: 20px;
    color: #f64c72;
}

.header-contact a{
    border: 1px solid #15121654;
    margin-top: 230px;
    padding: 10px 20px;
    border-radius: 18px;
    text-decoration: none;
    color: white;
}

.header-contact a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    font-weight: 500;
}

.icons{
    margin-top: 30px;
    font-size: 25px;
    
}

.icons i{
    
    margin-left: 25px;
    color: white;
}

.icons i:hover{
    color: #f64c72;
    transition: 0.5s;
}

.header-contact{
    margin-top: 30px;
}

.head-text img{
    box-shadow:rgb(30, 26, 32) 18px 18px 0px -3px, rgb(246,76,114) 18px 18px;
    border-radius: 10px;
}

.about-container img{
    width: 470px;
    height: 490px;
    border-radius: 10px;
    box-shadow:rgb(255, 255, 255) -18px 18px 0px -5px, rgb(246,76,114) -18px 18px;
}


.about-section{
    background-color: white;
    
    
}

.about-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 130px;
    
}



.about-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 470px;
    
}

.about-container a{
    color: white;
    background-color: black;
    padding: 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}

.about-container h1{
    font-size: 45px;
}

.about-container h1 b{
    border-bottom: 3px solid #f64c72;
}

.about-container p{
    font-size: 18px;
    font-weight: 550;
}

.about-container a:hover{
    color: black;
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
    transition: 0.6s;
}
.project {
    width: 300px;
    height: 470px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid white;
}

.project h1{
text-align: center;
margin-top: 10px;
font-weight: 900;
}

.project p{
    margin-top: 8px;
    text-align: center;
    font-weight: 200;
}

.project h3{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    font-weight: 600;
}

.project-a{
    margin-top: 20px;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #e9e9e9;
    background-color: #fafafa;
}

.project a{
    padding: 9px 18px;
    text-decoration: none;
    background-color: #fafafa;
    border-radius: 20px;
    color: black;
    font-weight: 500;
}

.project img{
    height: 200px;
    width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}



.project-section{
    margin: 0 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.project-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
}

.project-h1-div{
    text-align: center;
    
}

.project-h1-div h1{
    text-align: center;
    margin-bottom: 130px;
    font-size: 50px;
    color: white;
    
}

.project-h1-div h1 b{
    
    border-bottom: 3px solid #f64c72;
}

.project a:hover{
    background-image: linear-gradient(to bottom right, #852d40,#fd3a64);
    border-radius: 20px;
    color: white;
    transition: 0.6s;
}

.project:hover{
    transform: scale(1.027);
    transition: 0.5s;
}

.skills-section{
    background-color: white;
   padding-bottom: 120px;
}
.skills-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 130px;
}

.skill{
    box-shadow: 10px 10px 5px rgb(202, 202, 202);
    border:6px solid black;
    border-radius: 35px;
    flex-wrap: wrap;
    
}

.skill i{
    font-size: 150px;
}

.skill i p{
    font-size: 3px;
}

.skill img{
    width: 80px;
    height: 80px;
}

.skill h1{
    text-align: center;
}

.skills-h1-div{
    text-align: center;
    padding-top: 120px;
    font-size: 30px;
}

.skills-h1-div h1 b{
   border-bottom: 3px solid #fd3a64;
}

.skill-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    height: 120px;
    
}

.skill-div p{
font-weight: 600;    
font-size: 20px;
color: rgb(139, 139, 139);

}

.skill h1 {
    margin-top: 10px;
    margin-bottom:30px;
    margin-top: 30px;
}

.contact-section{

margin: 0 30%;
background-color: #2b272d;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-sec{
margin-top: 100px;
padding: 30px 50px;
text-align: center;

}

.contact-form{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 30px;
}

.contact-form input,textarea{
    width: 223px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(168, 168, 168);
    color: black;
}



textarea{
    height: 150px;
}
.contact-form h1{
    color: white;
    font-size: 20px;
}

.contact-form a{
    background-color: #fd3a64;
    text-decoration: none;
    padding: 10px 55px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.contact-form a:hover{
    background-color: white;
    color: black;
    
    transition: 1s;
}

.footer-sec{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-sec i{
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}

.footer-h1 {
    font-size: 20px;
    font-weight: 800;
    color: rgb(180, 180, 180);
}

.footer-sec i:hover{
    color: #fd3a64;
    transition: 0.6s;
}

@media only screen and (max-width: 1086px){
    .about-container img{
        
        
        width: 370px;
        height: 390px;
        border-radius: 10px;
        box-shadow:rgb(255, 255, 255) -18px 18px 0px -5px, rgb(246,76,114) -18px 18px;
    }

    .about-sec{
        
        gap: 10px;
        
    }

    
}

@media only screen and (max-width: 966px){

    .about-container img{
        
        margin-left: 70px;
        
        
    }

}



@media only screen and (max-width: 910px){
    .contact-section{

        margin: 0 25%;
        
        }
}

@media only screen and (max-width: 879px){

    
.head-sec{
    margin-top: 100px;
}


header li a i{
    font-size: 17px;
    
}

header nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px 10px;
    
}

header nav ul li{
    display: flex;
    
}
}


@media only screen and (max-width: 572px){
    header nav ul li a{
        font-size: 14px;
    }
}


@media only screen and (max-width: 532px){

    .about-container img{
        margin-left: 40px;
    }
    .contact-section{

        margin: 0 11%;
        
        }

        .about-sec{
            margin: 0 10%;
            gap: 10px;
            
        }
}

@media only screen and (max-width: 462px){

    header nav ul li a{
        font-size: 13px;
        
    }

    
    header nav ul{
        
        position: absolute;
        left: 0;
    }



    .about-container img{
        
        margin-left: 40px;
        width: 270px;
        height: 290px;
        border-radius: 10px;
        box-shadow:rgb(255, 255, 255) -18px 18px 0px -5px, rgb(246,76,114) -18px 18px;
        
    }

    .about-container p,h1,a{
        font-size: 17px;
        
    }

    .header-contact{
        text-align: center;
    }

    .icons{
    text-align: center;
    }

    .head-text{
        margin: 0 10%;
        text-align: center;
    }

    .head-text img{
        width: 230px;
        height: 250px;
    }
}

@media only screen and (max-width: 380px){

    .about-container img{
        
        margin-left: 20px;
        
        
    }
    .skill-div{
        gap: 20px;
        height: 120px;
        
    }
    
    header nav ul li a{
        font-size: 11px;
    }
    
}